[submodule "third-party/pytorch-stable-diffusion"]
	path = third-party/pytorch-stable-diffusion
	url = https://github.com/hkproj/pytorch-stable-diffusion
[submodule "third-party/stable-diffusion-from-scratch"]
	path = third-party/stable-diffusion-from-scratch
	url = https://github.com/juraam/stable-diffusion-from-scratch
[submodule "third-party/diffusers"]
	path = third-party/diffusers
	url = https://github.com/ShlomiRex/final_project
