latent_gpt.egg-info/
**.pyc
__pycache__/
mlflow.db
stable_diffusion_research/dataset_cache/
stable_diffusion_research/mlruns/
*.pt
stable_diffusion_research/outputs/samples/
stable_diffusion_research/slurm/logs/
stable_diffusion_research/outputs/checkpoints/
*.ckpt

# Datasets - too large for GitHub
**/datasets/
*.tar.gz
*.zip
dataset_cache/
*.fdb_latexmk
*.fls
*.log
*.out
*.lock
old/stable_diffusion/notebooks-old/complete_new_model/diffusers/outputs/
old/stable_diffusion_research/mlruns/

slurm/logs/
notebooks/.ipynb_checkpoints/
research-paper/src/main.synctex.gz
outputs/
