/notebooks/celeba
/notebooks/cifar10
/.idea
/.vscode
/notebooks/datasets
/third-party/data
/third-party/mnist
*.pth
sample.png
third-party/model
third-party/epoch
/notebooks/complete_new_model/datasets
.DS_Store
/data
*.npy
/datasets
/notebooks/mnist
